/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #menu ul li a,
    
    .nav-con-btn {
        padding: 15px 15px;
        margin-left: 5px;
    }
    header {
        padding: 0;
    }
    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .cover-area .services-1 {
        text-align: center;
        margin-bottom: 40px;
        word-spacing: 2px;
    }
    .cover-area .services-1 br {
        display: none;
    }
    .cover-area .services-1 .btn {
        margin-top: 30px;
    }
    .fine-area {
        padding: 20px 0;
    }
    .portfolio {
        padding: 50px 0;
    }
    .lead-area .news-area,
    .lead-area .contact {
        padding: 40px 0;
    }
    .lead-area .news-area .news-table { 
        margin: 15px 0;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        background-size: 50%;
        padding-bottom: 30px; 
    }
    header .container-fluid {
        padding: 0;
    }
    #menu ul {
        text-align: center;
    }
    #menu ul li a {
        border-bottom: 1px solid #ff3946;
        background: #314584;
        color: #ffffff;
        border-radius: 0;
    }
    header .header-content h2,
    footer h2 {
        font-size: 35px;
        line-height: 50px;
        word-spacing: 2px;
    }
    header br {
        display: none;
    }
    header .header-content {
        margin-top: 10px;
        text-align: center;
    }
    header .header-content p {
        padding: 10px 0;
        line-height: 25px;
        word-spacing: 2px;
        margin: 15px 0;
    }
    header .header-content .btn-1,
    .contact .send-btn .btn {
        padding: 10px 25px;
        margin-right: 0;
    }
    header .header-content .btn-2 {
        display: none;
    }
    .cover-area {
        padding: 50px 0;
    }
    .cover-area .services-1 h2,
    .fine-area .about-us h2,
    .portfolio h2,
    .lead-area h2,
    .lead-area h2 {
        font-size: 25px;
    }
    .cover-area .services-1 .btn {
        margin-top: 20px;
    }
    .cover-area .services-2,
    .cover-area .services-3 {
        padding: 30px;
        box-shadow: none;
    }
    .cover-area .services-2 {
        margin-bottom: 20px;
    }
    .fine-area .about-us h2 br,
    .portfolio h2 br {
        display: none;
    }
    .fine-area .about-us p br {
        display: none;
    }
    .portfolio,
    .my-portfolio,
    .lead-area .news-area,
    .lead-area .contact {
        padding: 30px 0!important;
    }
    .lead-area .news-area .news-table {
        margin: 10px 0!important;
        padding: 30px;
        box-shadow: none;
    }
    .lead-area .contact form textarea {
        margin: 10px 0;
    }
    .lead-area .contact form .col-sm-12 {
        margin: 10px 0;
    }
    
}

/* X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    #menu ul li a,
    .tb {
        padding: 10px 5px;
    }
    .nav-con-btn {
    padding: 10px;
    }
    .cover-area {
        padding: 30px 0;
    }
    header .header-content h2 {
        font-size: 25px;
        line-height: 35px;
        word-spacing: 2px;
    }
    header .header-content .btn-1,
    .cover-area .services-1 .btn,
    .portfolio .see-more-btn .btn,
    .portfolio .see-more-btn .btn {
        font-size: 16px;
    }
    .cover-area .services-2 h3,
    .cover-area .services-3 h3 {
        margin: 15px 0;
        white-space: nowrap;
    }
    .cover-area .services-2,
    .cover-area .services-3 {
        padding: 20px;
    }
    .cover-area .services-1 h2,
    .fine-area .about-us h2,
    .portfolio h2,
    .lead-area h2,
    .lead-area h2 {
        font-size: 20px;
    }
    .cover-area .services-1 h2,
    .portfolio h2 {
        line-height: 35px;
    }
    .fine-area .about-us h2 {
        margin: 20px 0;
    }
    .portfolio .container {
        padding-left: 0;
    }
    .portfolio h2 {
        white-space: nowrap;
        text-align: center;
        padding-left: 10px;
    }
    .my-portfolio img {
        padding: 3% 0;
    }
    .next-page {
        text-align: end;
    }
    .next-page a {
        margin-top: 20px;
    }
    footer {
        padding: 20px 0;
    }
    footer h2 {
        display: none;
    }
    footer p {
        margin-top: 20px;
    }
    footer .f-menu {
        display: none;
    }
}
